<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/home.css' %}">
</head>
<body>
    <div align='center'>
        <button class="button"><span><a style="text-decoration:none" color: #f5f0e3; href="naiveBayes/">Naive Bayes Classifier </a></span></button>
    </div>
    <div align='center'>
        <button class="button"><span><a style="text-decoration:none" color: #f5f0e3; href="kmeans/">K Means Clustering </a></span></button>
    </div>
</body>
</html>